@import "../global-styles.css";

article {
  border-radius: 10px;
  width: 300px;
  padding: 0.5em 1.5em;
  box-shadow: 8px 8px 2px 0px var(--color-shadows);
  margin-right: 25px;
  display: grid;
  grid-template-rows: 38% 62%;
}

.card__container_item{
  display: grid;
  grid-template-rows: 16% 70% 14%;
}

.card__img {
  display: flex;
  justify-content: center;
}

.card__img img {
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  object-fit: contain;
}

.card__title {
  color: var(--color-third-change);
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 15px;
  padding: 20px 0px;
}

.card__text {
  text-align: justify;
  font-size: 14px;
}

.card__text p {
  font-family: var(--font-main);
  color: var(--color-third-change);
}

.toy, .toys {
  background-color: var(--color-toys-background);
}

.size_card{
  height: 480px;
}

.food {
  background-color: var(--color-food-background);
}

.service, .clothes {
  background-color: var(--color-service-background);
}

.card__link__button{
  padding: 5px 15px;
  border-radius: 22px;
  box-shadow: 3px 3px 2px 0px var(--color-shadows);
  background-color: var(--color-third-change);
}

a {
  text-decoration: none;
  font-family: var(--font-main);
  color: var(--color-toys-background)
}

a:hover {
  text-decoration: underline;
}

.card__link {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
