@import '../global-styles.css';

.Error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.Error__icon {
  width: 80px;
}

.Error__message {
  font-family: var(--font-main);
  font-weight: bold;
}
