@import '../global-styles.css';

.Loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.Loader__heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.Loader__heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--color-secondary);
  animation: Loader__heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Loader__heart div:after,
.Loader__heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: var(--color-secondary);
}
.Loader__heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.Loader__heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes Loader__heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.Loader__text {
  font-family: var(--font-main);
  font-weight: bold;
}
