.Ads {
  height: 300px;
  padding: 10px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.Ads__container {

  height: 100%;
  border: 2px var(--color-shadows) solid;
  margin: 0;
  padding: 0 110px;
  width: 90%;
}

.Ads__container--image {
  
  height: 100%;
  width: 56%;
  margin: 0 auto;
  background-image: url('https://d3nuqriibqh3vw.cloudfront.net/styles/media_retina/s3/cat_food.jpg?itok=JK8ojG4r');
  background-size: cover;
}