* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7045ff;
  text-decoration: none;
}

a {
  color: #7045ff;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #30e3cb;
  box-shadow: 10px 10px 5px 0px var(--color-shadows);
}

.logo {
  cursor: pointer;
  width: 200px;
  height: 40%;
  padding-bottom: 0px;
}

.nav-links {
  list-style: none;
  display: block;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px 0px 5px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.container-icons {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.container-icons img {
  height: 30px;
  width: 32px;
}
.nav-links li:hover {
  color: whitesmoke;
}

.header-icon {
  height: 30px;
}

.cookie-menu {
  height: 35px;
  display: none;
}

@media screen and (max-width: 850px) {
  .nav-links span {
    font-size: 13px;
  }

  .container-icons img {
    height: 50px;
    width: 52px;
  }
  /* .header-icon {
    height: 60px;
    justify-content: space-between;
  } */
  /* .nav-links a {
    margin-right: 30px;
  } */
}

/*   .cookie-menu {
    display: flex;
  } */
