* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7045ff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 5px 5%;
    background-color: #30e3cb;
    box-shadow: 10px 10px 5px 0px var(--color-shadows);
}

.logo {
    cursor: pointer;
    width: 200px;
    height: 40%;
    padding-bottom: 0px;
}


.nav-links {
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.nav-links li:hover {
    color: #423378
    
}